@model MyBlogSite.Models.Blog

@{
    ViewData["Title"] = "Add Blog";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="add">
    <form asp-action="Add" asp-controller="Blog" method="post" enctype="multipart/form-data">
        <div class="text">
            <input asp-for="Title" placeholder="Başlık *" required />
            <textarea asp-for="Content" placeholder="İçerik *" required></textarea>
            
            <select asp-for="CategoryId" asp-items="ViewBag.Categories" required>
                <option value="">Kategori Seçin</option>
            </select>
        </div>

        <div class="button">
            <button type="submit">
                <i class="fa-solid fa-plus"></i>
            </button>
            <label for="file">
                <i class="fa-solid fa-image"></i>
            </label>
            <input type="file" name="file" id="file" style="display: none;" />
        </div>
    </form>
</div>
