.sidebar {
   flex: 3;
   padding: 0 20px;
}

.sidebar .area {
   padding: 10px;
   border: 1px solid rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   margin-bottom: 30px;
}

.sidebar h3 {
   width: 100%;
   margin-bottom: 10px;
   font-family: 'Pacifico', cursive;
   display: flex;
   justify-content: center;
   position: relative;
}

.sidebar h3::after {
   content: '';
   width: 50%;
   height: 2px;
   background-color: black;
   position: absolute;
   bottom: 0;
}

.sidebar img {
   padding: 5px;
   border-radius: 15px;
}

.sidebar .categories {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.sidebar .categories span {
   display: block;
   width: calc(50% - 10px);
   font-family: 'Arvo', serif;
   background-color: rgba(0, 0, 0, 0.03);
   padding: 2px;
   border-radius: 3px;
   cursor: pointer;
}

.sidebar a {
   font-family: 'Josefin Sans', sans-serif;
   display: block;
   padding: 3px;
   margin-bottom: 5px;
   background-color: rgba(0, 0, 0, 0.03);
}
.sidebar a:nth-child(2n + 1) {
   background-color: rgba(0, 0, 0, 0.08);
}


/* Scroll animation */

.sidebar .area {
   opacity: 0;
   transition: all 0.5s;
}
.sidebar .area.active {
   opacity: 1;
}




/*popüler blogs*/


.popular-blogs {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
}

    .popular-blogs h3 {
        font-family: 'Pacifico', cursive;
        font-size: 20px;
        margin-bottom: 15px;
        text-align: center;
        position: relative;
    }

        .popular-blogs h3::after {
            content: '';
            position: absolute;
            width: 40%;
            height: 2px;
            background-color: #333;
            bottom: 0;
            left: 30%;
        }

    .popular-blogs ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .popular-blogs li {
        margin-bottom: 8px;
    }

    .popular-blogs a {
        font-family: 'Josefin Sans', sans-serif;
        text-decoration: none;
        color: #333;
        background-color: rgba(0, 0, 0, 0.03);
        display: block;
        padding: 6px 10px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .popular-blogs a:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
