<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Senin CSS dosyaların -->
    <link rel="stylesheet" href="~/css/index.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://fonts.googleapis.com/css2?family=DynaPuff&display=swap" rel="stylesheet">


</head>

<body>
    <!-- Yeni üst topbar -->
    <div style="background-color: #f9f9f9; padding:10px 10px; border-bottom: 1px solid #ddd; font-size: 14px;">
        <div style="display: flex; justify-content: space-between; align-items: center;">

            <!-- Sol tarafta site adı -->
            <div>
                <a asp-controller="Home" asp-action="Index" style='font-family: "DynaPuff", system-ui; font-size: 40px; text-decoration: none; color: #333;'>
                    BİBLOG
                </a>
            </div>

            <!-- Sağ tarafta login/register -->
            <div style="display: flex; padding: 30px 80px; align-items: center; gap: 20px; font-family: 'Josefin Sans', sans-serif;">
                @if (Context.Session.GetString("username") != null)
                {
                    <span style="color: #333;">Welcome, @Context.Session.GetString("username")</span>
                    <a asp-controller="Auth" asp-action="Logout" style="color: #333; text-decoration: none;">Logout</a>
                }
                else
                {
                    <a asp-controller="Auth" asp-action="Register" style="color: #333; text-decoration: none;">KAYIT OL</a>
                    <a asp-controller="Auth" asp-action="Login" style="color: #333; text-decoration: none;">GİRİŞ YAP</a>
                }
            </div>
        </div>
    </div>



    <!-- ORTAK NAVBAR / TOPBAR -->

    <div class="topbar">
        <div class="wrapper target">
            <div class="left">
                <a href="https://twitter.com" target="_blank">
                    <i class="fa-brands fa-square-x-twitter"></i>
                </a>
                <a href="https://instagram.com" target="_blank">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
                <a href="https://facebook.com" target="_blank">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a href="https://pinterest.com" target="_blank">
                    <i class="fa-brands fa-square-pinterest"></i>
                </a>
            </div>

            <div class="center">
                <a asp-controller="Home" asp-action="Index">ANA SAYFA</a>
                <a asp-controller="Home" asp-action="About">HAKKIMIZDA</a>

                <!-- her kullanıcı blog ekleyebilir -->

                @if (Context.Session.GetInt32("userId") != null)
                {
                    <a asp-controller="Blog" asp-action="Add">BLOG EKLE</a>
                }


            </div>
            <div class="right">
                <span>
                    <img src="~/img/user/user.jpg" alt="user">
                </span>
                <div class="searchEngine" id="searchEngine">
                    <input type="text" placeholder="...">
                    <i class="fa-solid fa-magnifying-glass" id="searchIcon"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- SAYFA ÖZEL İÇERİK -->
    @RenderBody()

    <!-- JS dosyaları -->
    <script src="~/js/search.js"></script>
    <script src="~/js/scroll.js"></script>


    <script src="~/js/menuToggle.js"></script>


    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
