<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Tüm CSS dosyalarını birleştirdik -->
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- ORTAK NAVBAR / TOPBAR -->
    <div class="topbar">
        <div class="wrapper target">
            <div class="left">
                <i class="fa-brands fa-square-x-twitter"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-pinterest"></i>
            </div>
            <div class="center">
                <a asp-controller="Home" asp-action="Index">HOME</a>
                <a asp-controller="Home" asp-action="About">ABOUT</a>

                @if (Context.Session.GetString("role") == "Admin")
                {
                    <a asp-controller="Blog" asp-action="Add">ADD</a>
                }

                @if (Context.Session.GetString("username") != null)
                {
                    <a asp-controller="Auth" asp-action="Logout">LOGOUT</a>
                }
                else
                {
                    <a asp-controller="Auth" asp-action="Register">REGISTER</a>
                    <a asp-controller="Auth" asp-action="Login">LOGIN</a>
                }
            </div>
            <div class="right">
                <span>
                    <img src="~/img/user/user-1.png" alt="user">
                </span>
                <div class="searchEngine" id="searchEngine">
                    <input type="text" placeholder="...">
                    <i class="fa-solid fa-magnifying-glass" id="searchIcon"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Menü Butonu -->
    <div class="menu-button" title="Kategoriler" onclick="toggleMenu()">
        <i class="fas fa-bars"></i>
    </div>

    <!-- Menü Paneli -->
    <div class="category-menu" id="categoryMenu">
        <h3>Kategoriler</h3>
        <ul>
            <li onclick="filterCategory('Hepsi')">Hepsi</li>
            <li onclick="filterCategory('Macera')">Macera</li>
            <li onclick="filterCategory('Magazin')">Magazin</li>
            <li onclick="filterCategory('Seyahat')">Seyahat</li>
            <li onclick="filterCategory('Film')">Film</li>
            <li onclick="filterCategory('Günlük')">Günlük</li>
            <li onclick="filterCategory('Teknoloji')">Teknoloji</li>
            <li onclick="filterCategory('Müzik')">Müzik</li>
            <li onclick="filterCategory('Kitap')">Kitap</li>
            <li onclick="filterCategory('Yemek')">Yemek</li>
            <li onclick="filterCategory('Kişisel Gelişim')">Kişisel Gelişim</li>
        </ul>
    </div>

    <!-- SAYFA ÖZEL İÇERİK -->
    @RenderBody()

    <!-- Tüm JS dosyalarını birleştirdik -->
    <script src="~/js/search.js"></script>
    <script src="~/js/scroll.js"></script>
    <script src="~/js/menu.js"></script>
    <script src="~/js/menuToggle.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
